<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>signup</title>
</head>
<body>
    <div class="signup-container">
    {% if user %}
        <p>User created: {{ user.email }}</p>
    {% endif %}
        <h1>Signup Form</h1>
        <form action="" method="post">
            <input type="email" name="email" placeholder="email..."><br>
            <input type="password" name="password" placeholder="password..."><br>
            <button type="submit">SignUp</button>
        </form>
    </div>
</body>
</html>